<!-- <h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p> -->

<div class="container box">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
      <h2>Log In</h2>

      <%= form_tag sessions_path do %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %>
          </div>
        <% end %>

        <div class="field">
          <%= text_field_tag :email, params[:email], {class: "form-control", placeholder: "Email"} %>
        </div>
        <br>
        <div class="field">
          <%= password_field_tag :password,"", {class: "form-control", placeholder: "Password"}  %>
        </div>
        <br>
        <div class="actions">
        <%= submit_tag 'Log in', class:"btn btn-primary" %>
        </div>
    <% end %>
    </div>
  </div>
</div>
