<h3>Location</h3>
<ul>
  <li><%= @restaurant.address %></li>
</ul>

<h3>Opening Hours</h3>
<ul>
  <li>Mon - Fri <span> <%= @restaurant.opening_weekday %></span></li>
  <li>Sat - Sun <span><%= @restaurant.opening_weekend %></span></li>
</ul>

<h3>Website</h3>
<ul>
  <li><a href="#"><%= @restaurant.website %></a></li>
</ul>

<h3>Telephone Number</h3>
<ul>
  <li><%= @restaurant.telephone %></li>
</ul>

<!-- Toggle -->
<h3>Shop Description</h3>
<p><%= @restaurant.description %></p>