<%= render 'restaurants/search' %>
<br>
<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-md-6 col-lg-4 restaurant-cards">
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card-wrapper thumbnail transparency">
          <h4><%= restaurant.name %> <small> <%= avgPoints(restaurant.ratings) %> / 10 </small></h4>
          <div class="address">
            <%= restaurant.address %>
          </div>
          <div>
            <span class="pull-right">
              <%= restaurant.price_range %>
            </span>
          </div>
          <div class="result-show">
            <%= image_tag restaurant.image_url, class: "img-responsive" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
