<!-- Header -->
<div class="row">
  <div class="col-xs-12 col-md-12">
    <h1 class="page-header restaurant-header">
      Sushi-Me-Away!
    </h1>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
    <%= form_tag 'restaurants/search' do |f| %>
      <div class="form-group">
        <%= collection_select(:restaurant, :district_id, District.order(:name).all, :id, :name, {prompt: "Filter by distict"}, {class: "form-control"}) %>
      </div>
        <%= submit_tag 'Search', class:"btn btn-warning btn-block" %>
        <%= link_to 'Show all', restaurants_path, class:"btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-md-6 col-lg-4 restaurant-cards">
      <%= link_to restaurant do %>
        <div class="card-wrapper thumbnail transparency">
          <h4><%= restaurant.name %></h4>
            <div class="address">
              <%= restaurant.address %>
            </div>
            <div>
              <span class="pull-right">
                <%= restaurant.price_range %>
              </span>
            </div>
            <div class="result-show">
              <%= image_tag restaurant.image_url, class: "img-responsive" %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
