<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant do %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail transparency">
        <h4><%= restaurant.name %></h4>

        <address>
          <%= restaurant.address %>
        </address>

        <p class="pull-right">
          <%= restaurant.price_range %>
        </p>

        <%= image_tag restaurant.image_url %>
      </div>
    </div>
  <% end %>
<% end %>
