<%= render 'restaurants/search' %>

<div class="container well transparency box">
  <%= render 'restaurants/header' %>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag(@restaurant.image_url, class: "img-responsive") %>
      <!-- Toggle -->
      <h3>
        Shop Description
        <small class="open">(Click me!)</small>
      </h3>
      <p class="showDescription"><%= @restaurant.description %></p>
    </div>
    <div class="col-md-4">
      <%= render 'restaurants/moreInfo' %>
    </div>
  </div>
</div>
<hr>
<%= render 'restaurants/comments' %>
