
<div class="container well transparency">
  <%= render 'restaurants/header' %>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag(@restaurant.image_url, class: "img-responsive") %>
      <!-- Toggle -->
      <h3>
        Shop Description
        <small class="open">(show more)</small>
      </h3>
      <p class="showDescription"><%= @restaurant.description %></p>
    </div>
    <div class="col-md-4">
      <%= render 'restaurants/moreInfo' %>
    </div>
  </div>
</div>

<hr>

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 well">
  <%= form_for @comment, url: restaurant_comments_path(@restaurant.id) do |f| %>
    <h4>Leave a Comment:</h4>
    <div class="form-group">
      <%= f.text_area :content, class:"form-control", placeholder:"Tell us what you think"%>
      <%= submit_tag 'Submit', class:"btn btn-primary pull-right" %>
      <br>
    </div>
  <% end %>
  <br>
  <%= render 'comments/box', comments: @comments %>
</div>

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
  <h4>Leave a Rating</h4>
  <%= form_for @rating, url: restaurant_ratings_path(@restaurant.id) do |f| %>
    <div class="form-group">
      <%= f.select :value, (1..5), selected: 5,class:"form-control" %>
    </div>
    <%= f.submit "Rate this Article", class:"btn btn-primary"  %>
  <% end %>
</div>
